@screen--mobile: 320px;
@screen--small: 700px;
@screen--medium: 1200px;
@screen--big: 1440px;

@grey--menu: #cacecf;
@grey--bkg: #f2f2f1;
@grey--decor: #ccc;
@grey--font: #919191;
@grey--h2: #566366;

@primary: #213d6f;
@primary--light: #6894f3;
@primary--dark: #0e183a;
@accent--light: #e1bee7;
@accent--dark: #9c27b0;

@grey--600: #757575;
@grey--300: #e0e0e0;
@grey--200: #eee;
@grey--50: #fafafa;

@text--main: rgba(0, 0, 0, .87);
@text--secondary: rgba(0, 0, 0, .54);
@text--hints:  rgba(0, 0, 0, .87);
@text--dividers:  rgba(0, 0, 0, .12);

@font-family: 'Roboto', sans-serif;

@font-size: 16px;
@font-size--big: 18px;
@font-size--h3: @font-size + 2;
@font-size--h2: @font-size + 12;
@font-size--h1: 72px;
@font-size--menu: 16px;

@line-height: ;
