.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 40px;
   @media(min-width: @screen--small) {
     
  flex-direction: row;
  padding: 0 0 80px;
   }
  &__tours {
    width: 100%;
    @media(min-width: @screen--small) {
      width: 45%;
    }
  }
  &__transport {
    width: 100%;
    @media(min-width: @screen--small) {
      width: 45%;
    }
  }
  & .text {
    margin: 0 auto 2rem;
    @media(min-width: @screen--small) {margin: 0 auto 4rem;}
  }
  & img {
    width: 300px;
    margin: 0 auto 2rem;
     @media(min-width: @screen--medium) {
    width: 400px;}
  }
}