html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-color: @text--main;
  font-size: @font-size;
  font-family: @font-family;
  background: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid transparent;
  position: relative;
  @media(min-width: @screen--small) {
    width: 90%;
  }
  @media(min-width: @screen--medium) {
    width: 940px;
  }
}

// http://jsfiddle.net/volcanicpixels/udXXA/
.btn {
  background: #99b6df;
  background: linear-gradient(#99b6df, #638ec8);
  outline: solid 1px #6d94ce;
  outline-bottom: solid 3px #3867ac;
  box-shadow: inset 0 0 0 1px #bbcfeb;
  color: #fff;
  text-shadow: 0 1px 0 #3c61ab;
  text-transform: uppercase;
  display: inline-block;
  margin: 3em 0;
  padding: 1em 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  &:hover {
    background: #638ec8;
    background: linear-gradient(#638ec8, #99b6df);
    outline: solid 1px #6d94ce;
    outline-bottom: solid 3px #3867ac;
    box-shadow: inset 0 0 0 1px #bbcfeb;
  }
  &:active {
    background: #638ec8;
    background: linear-gradient(#638ec8, #99b6df);
    outline: solid 1px #6d94ce;
    box-shadow: inset 0 10px 15px 0 #4176c4;
    &::before {
      padding: 1px 0 0;
    }
  }
  &::before {
    border-radius: 3px;
    box-shadow: #555 0 3px 7px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.header--h2,
.header--h3 {
  margin: 2em 0 1em;
  color: @text--main;
  font-weight: bold;
  text-transform: uppercase;
}

.header--h2 {
  font-size: @font-size--h2;
}

.header--h3 {
  font-size: @font-size--h3;
}

.text {
  padding: 0 0 2em;
  color: @grey--font;
  font-size: @font-size;
}

.tours {
  display: flex;
}