.page-header {
  position: relative;
  height: 775px;
  background: @primary--dark url("../img/bkg.jpg") no-repeat center center fixed;
  background-size: cover;
  
}

.header--h1 {
  width: 940px;
  margin: 0 0 0 -470px;
  font-size: @font-size--h1;
  top: 10%;
  left: 50%;
  z-index: 2;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  text-align: center;
  position: absolute;
  color: #f1ebe5;
  text-shadow: 0 4px 9px #c4b59d, 0px -2px 1px #fff;
  & span {
    color: #fff;
    font-weight: normal;
    font-size: @font-size--h2;
  }
  &:before {
    width: 100px;
    height: 61px;
    margin: 0 auto 30px auto;
    display: block;
    background: url("../img/flag.jpg") no-repeat 100%;
    content: "";
  }
}