.prices {
  padding: 40px 0 20px;
  text-align: center;
  @media(min-width: @screen--small) {
    padding: 40px 0 80px;
  }
  & .header--h2 {
    margin: 0 0 3rem;
    @media(min-width: @screen--small) {
      margin: 0 0 6rem;
    }
  }
  &__table {
    margin: 0 auto 2rem;
    border-collapse: collapse;
    text-align: left;
    & .col {
      padding: 0;
      border: 1px solid @text--dividers;
      @media(min-width: @screen--small) {
        padding: 2rem 6rem;
      }
    }
    & .row {
      &:nth-child(odd) {
        background: @primary--light;
      }
    }
  }
}